.movie_card {
  width: 10rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.movie_image {
  width: 100%;
  height: 15rem;
}

.movie_title {
  letter-spacing: 1px;
}

.movie_actions {
  display: flex;
  justify-content: space-around;
}

.movie_actions button {
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  letter-spacing: 1px;
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
}

.movie_actions button:hover {
  cursor: pointer;
  color: #333;
  background-color: #fff;
}
.movie_actions .btn_disabled {
  background-color: lightgray;
  border: none;
}

.movie_actions .btn_disabled:hover {
  cursor: not-allowed;
  background-color: lightgray !important;
  color: #fff !important;
}

@media (min-width: 720px) {
  .movie_card {
    width: 14rem;
  }
}
