.movies_container {
  margin: 2rem auto;
}
.all_movies_heading{
  margin: 2rem 0;
  text-align: center;
  color: #808080;
  letter-spacing: 1px;
}
.movies {
  display: flex;
  justify-content: center;
  gap: 2.5rem;

  flex-wrap: wrap;
}

@media (min-width:1024px) {
    .movies_container {
        width: 50rem;
    }
}