.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.filters select {
  padding: 0.5rem;
}

@media (min-width:420px) {
    .filters{
        flex-direction: row;
    }
}